@font-face {
  font-family: 'Kulim Park';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kulim Park Regular'), local('KulimPark-Regular'), url(https://fonts.gstatic.com/s/kulimpark/v1/fdN79secq3hflz1Uu3IwhFks4Q.ttf) format('truetype');
}
body {
  display: flex;
  background-image: url("/images/sauti.png");
  width: 100%;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
}
.nav ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-size: 1.6em;
  font-family: 'Kulim Park', sans-serif;
  background-color: #fefcf8;
  color: #8c4843;
  list-style-type: none;
  width: 58%;
  justify-content: space-evenly;
}
.header {
  background-color: #8c4843;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.header .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header h2 {
  display: flex;
  color: #fefcf8;
  justify-content: center;
  font-family: 'Kulim Park', sans-serif;
  font-size: 1.8em;
}
.buttons {
  display: flex;
  width: 60%;
  margin: 0 auto;
  font-size: 1.6em;
  color: #fefcf8;
  font-family: 'Kulim Park', sans-serif;
}
.buttons .register {
  margin: 10%;
  padding: 3% 10%;
  background-color: #8c4843;
}
.buttons .signin {
  margin: 10%;
  padding: 3% 10%;
  background-color: #8c4843;
}
.about h3 {
  background-color: #8c4843;
  font-family: 'Kulim Park', sans-serif;
  width: 40%;
  margin: 0 auto;
  padding: 2%;
  color: #BCBD8B;
  font-size: 3em;
  text-align: center;
}
.about p {
  display: flex;
  margin: 0 auto;
  width: 40%;
  padding: 2%;
  background-color: #fefcf8;
  color: #8c4843;
  font-family: 'Kulim Park', sans-serif;
  font-size: 1.4em;
}
@media (max-width: 500px) {
  .container {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
  }
  .nav {
    width: 100%;
    margin: 1%;
  }
  h2 {
    display: none;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
